p Hi,
p 
p #{name} has shown interest to be part of sageye. His contact details are below: 
p Name: #{name}
p Email: #{email}
p Interests: #{interest}
p Comments: #{comments}
p 
p Best Regards,
p Backend Engine